@font-face {
    font-family: 'Dubai Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Regular'), url('../fonts/Dubai-Regular.woff') format('woff');
}
    

@font-face {
    font-family: 'Dubai Light';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Light'), url('../fonts/Dubai-Light.woff') format('woff');
}
    

@font-face {
    font-family: 'Dubai Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Medium'), url('../fonts/Dubai-Medium.woff') format('woff');
}
    

@font-face {
    font-family: 'Dubai Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Dubai Bold'), url('../fonts/Dubai-Bold.woff') format('woff');
}

.topbar {
    position: fixed;
    height: 0.25em;
    background-color: #bd65d8;
    z-index: 2;
}

#topnav {
    position: fixed;
    display: block;
    width: 100%;
    height: 5%;
    top: 0;
    background-color: #6441a5;
    z-index: 1;
}