<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Stream Sniper</title>
    <meta name="description" content="Stream Sniper Tagline">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="../js/skrollr.min.js"></script>
    <script type="text/javascript" src="../js/vendor/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
    <h1>George</h1>
</body>