<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Stream Sniper</title>
    <meta name="description" content="Find new Twitch channels to watch!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
</head>
<body style="background-image: url(../static/back.png);">
    
    <div class="progress-bar"
        data-0p="width: 0%;"
        data-400p="width: 100%;"
        data-anchor-target="#footer">
    </div>
    
    <div id="topnav">
        <a class="topnav" href="index.html" >Home</a>
        <a class="topnav" href="about.html">About Us</a>
        <a class="topnav" href="find.html">Find Streamers</a>
    </div>

    <div style="width: 100vw; height: 100vh;" data-relative-input="true" id="scene">
        <div id="full" style="margin-left: 5vw; width: 100vw; height: 100vh;" data-depth="1.5"><img src="../static/particles.png"></div>
        <div id="full" style="margin-left: 5vw; width: 100vw; height: 100vh;" data-depth="0.7"><img src="../static/asteroids.png"></div>
        <div id="full" style="margin-left: 5vw; width: 100vw; height: 100vh;" data-depth="0.3"><img src="../static/logo.png"></div>
        <div id="full" style="margin-left: 5vw; width: 100vw; height: 100vh;" data-depth="0.3"><img src="../static/desc.png"></div>
      </div>
    
    <script>
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(scene);
    </script>
    
</body>