<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Stream Sniper</title>
    <meta name="description" content="Find new Twitch channels to watch!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script>
        var s1 = s1;
        var s2 = s2; 
        var s3 = s3; 
        var s4 = s4; 
        var s5 = s5; 
        var s6 = s6; 
        var s7 = s7; 
        var s8 = s8; 
        var s9 = s9; 
        var s10 = s10; 
        var s11 = s11; 
        var s12 = s12;
        var s13 = s13;
        var s14 = s14;
        var s15 = s15;
    </script>
</head>
<body style="background-image: url(../static/back.png); overflow: scroll;">

    <div id="topnav">
        <a class="topnav" href="index.html" >Home</a>
        <a class="topnav" href="about.html">About Us</a>
        <a class="topnav" href="find.html">Find Streamers</a>
    </div>

    <p id="team"> Your Sniped Streamers </p>

    <div id="streamer">
        <img style="margin-left: 37.5vw; border-radius: 12.5vw; width: 25vw;" src={{s2}}>
        <p style="opacity: 0;">A</p>
        <div style="width: 100vw; text-align: center;">
            <a style="display:inline-block;
            text-decoration: none;
            margin:0 auto;
            color: white;
            font-family: 'Dubai Bold';
            font-size: 4em;" href={{s3}} id="streamerName">{{s1}}</a>
        </div>
        
    </div>

    <div id="streamer">
        <img style="margin-left: 37.5vw; border-radius: 12.5vw; width: 25vw;" src={{s5}}>
        <p style="opacity: 0;">A</p>
        <div style="width: 100vw; text-align: center;">
            <a style="display:inline-block;
            text-decoration: none;
            margin:0 auto;
            color: white;
            font-family: 'Dubai Bold';
            font-size: 4em;" href={{s6}} id="streamerName">{{s4}}</a>
        </div>
    </div>

    <div id="streamer">
        <img style="margin-left: 37.5vw; border-radius: 12.5vw; width: 25vw;" src={{s8}}>
        <p style="opacity: 0;">A</p>
        <div style="width: 100vw; text-align: center;">
            <a style="display:inline-block;
            text-decoration: none;
            margin:0 auto;
            color: white;
            font-family: 'Dubai Bold';
            font-size: 4em;" href={{s9}} id="streamerName">{{s7}}</a>
        </div>
    </div>

    <div id="streamer">
        <img style="margin-left: 37.5vw; border-radius: 12.5vw; width: 25vw;" src={{s11}}>
        <p style="opacity: 0;">A</p>
        <div style="width: 100vw; text-align: center;">
            <a style="display:inline-block;
            text-decoration: none;
            margin:0 auto;
            color: white;
            font-family: 'Dubai Bold';
            font-size: 4em;" href={{s12}} id="streamerName">{{s10}}</a>
        </div>
    </div>

    <div id="streamer">
        <img style="margin-left: 37.5vw; border-radius: 12.5vw; width: 25vw;" src={{s14}}>
        <p style="opacity: 0;">A</p>
        <div style="width: 100vw; text-align: center;">
            <a style="display:inline-block;
            text-decoration: none;
            margin:0 auto;
            color: white;
            font-family: 'Dubai Bold';
            font-size: 4em;" href={{s15}} id="streamerName">{{s13}}</a>
        </div>
    </div>
    
</body>